<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("head.ejs") %>

<body>



  <div class="main-div">
    <%- include("navbar.ejs") %>
    <div class="texto-principal">
      <h1 class="principal verde">Pedí YA tu taco</h1>
      <h3 class="subtitle big rojo">¡Y ponele lo que vos quieras!</h3>
    </div>
    <img class="taco" src="/images/taco.png" alt="img-taco">
    <h1>¿Cómo?</h1>
    <p class="explicacion">
       Desde nuestra página web elegís los ingredientes que quieras para tu taco, nosotros procesamos el pedido, lo armamos a tu medida y en seguida lo enviamo hacia tu casa.
    </p>
    <form action="/pedido" method="get">
      <button class="btn btn-outline-success btn-lg" type="submit" name="button"><b>¡Armátelo acá!</b></button>
    </form>

  </div>

</body>

<%- include("footer.ejs") %>


</html>
